@import "sweetalert2/src/variables";

// alert, confirm
.swal2-modal {
  .swal2-title {
    padding: 24px 32px 16px;
    border-radius: 14px 14px 0 0;
    overflow: hidden;
    color: #3c3c3c;
    background-color: #fff;
    text-align: left;
    font-size: 1.6rem;
    &::after {
      position: absolute; bottom: 0; left: 50%;
      content: "";
      display: block;
      width: calc(100% - 48px); height: 1px;
      background-color: #D6DBE2;
      transform: translateX(-50%);
    }
  }

  .swal2-html-container {
    margin: 0 !important;
    padding: 32px 32px 0 !important;
    max-height: 400px;
    font-size: 1.5rem !important;
    font-weight: 500 !important;
  }

  .swal2-actions {
    margin-top: 24px;
    padding-bottom: 14px;
    flex-direction: row-reverse;

    button {
      margin: 6px;
      height: 35px;
      font-size: 1.4rem !important;
      font-weight: 400;

      &:focus {
        box-shadow: none !important;
      }
    }

    .swal2-cancel {
      border: 1px solid #ccced4 !important;
      color: #222;
      background: white;
    }

    .swal2-confirm {
      background-color: var(--primary) !important;
      border: 1px solid var(--primary) !important;
    }
  }

  .swal2-actions button {
    padding: 0 24px;
    min-width: 93px;
    border-radius: 6px;
  }
}

div:where(.swal2-container) {
  div:where(.swal2-popup) {
    width: 450px !important;
    border-radius: 14px !important;
  }
}

/* 커스텀클래스 스타일추가 */
.swal2-popup.swal2-toast.swal2-show.custom_toast {
  bottom: 24px;
  padding: 18px 24px;
  background-color: rgba(34,34,34, 0.9);
  border-radius: 8px;
  animation: customToast 0.5s alternate;
}
@keyframes customToast {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.swal2-toast.custom_toast .swal2-title {
  color: #fff; font-size: 1.4rem; font-weight: 500; line-height: 2.2rem;
}
body.swal2-toast-shown .swal2-container:has(.custom_toast) {
  width: 262px;
}
.swal2-popup.swal2-toast.custom_toast .swal2-title {
  margin: 0;
}



@media screen and (max-width: 768px) {
  .swal2-modal {
    .swal2-title {
      padding: 16px 16px;
      font-size: 1.8rem;
    }

    .swal2-html-container {
      padding: 24px 16px 0 !important;
      max-height: 360px !important;
    }

    .swal2-actions {
      margin-top: 14px;
      padding-bottom: 10px;

      button {
        height: 40px;
      }
    }
  }
}

.swal2-toast {
  .swal2-title {
    font-size: 1.4rem !important;
  }
}

@import "sweetalert2/src/sweetalert2";
