@import url("@/assets/css/dl_config.css");
@import url("@/assets/css/dl_global.css");
@import url("@/assets/css/dl_layout.css");
@import url("@/assets/css/dl_common.css");
@import url("@/assets/css/dl_ui.css");
@import url("@/assets/css/dl_custom.css");
@import url("@/assets/css/dl_responsive.css");

@import url("./dl_global.css");
@import url("./admin/grid.css");
@import url("./admin/formstyle.css");
@import url("./admin/table.css");
@import url("./admin/common_ui.css");
@import url("./admin/ui.css");
@import url("./admin/popup.css");
@import url("./admin/main.css");
@import url("./admin/dashboard.css");
@import url("./admin/majorderive.css");
@import url("./admin/certisys.css");
/* @import url('./'); */
