.breadcrumbContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  background-color: #f0f2f5; 
  border-radius: 4px;
  margin-bottom: 30px;
}

.breadcrumbTitle {
  margin: 0;
  font-size: 26px;
  color: #444444;
  font-weight: 700;
}

.breadcrumb {
  margin-left: auto;
}

.breadcrumbItem {
  cursor: pointer; 
  transition: color 0.3s; 
}

.breadcrumbItem:hover {
  color: #1890ff; 
}